body{
    background-color: rgb(116, 110, 110);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;

}
header{
    color: rgb(0, 0, 0);
    font-size: 40px;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}
.toggleButton{
    position:absolute;
    height: 22px;
    width: 45px;
    right:20px;
    top: 20px;
    border: 2px solid;
    border-radius: 15px;
}
.toggleButton:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    cursor: pointer;
    background: black;
    transition: 0.4s;
}
.toggleButton.active:before{
    left: 24px;
    background: white;

}
body.night
{
    background:black;
    color: white;
}
#header.night
{
    color: white;
}
.letterSwap.night
{
    color: white;
}

.contents
{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#strInput
{   width: 50%;
    height: 100px;
    resize:none;
    margin: 10px;
    background-color: aqua;
}
.diskSelection
{
    width: 100%;
    text-align: center;
}

#startingNum1,#startingNum2,#startingNum3,
#selDiski,#selDiskii,#selDiskiii
{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: large;
    font-weight: bold;

}
.letterSwap{
   color: black;
}
.letterSwap input
{
    height: 20px;
    width: 20px;
    margin: 10px;
    padding-left: 20px;
}
.letterSwapTop,.letterSwapBottom 
{
    list-style: none;
    text-align: left;
    display: flex;
    
}
.outputStr
{
    background-color: grey;
    height: 100px;
    width: 50%;
    margin: 10px;

}
#butEncry
{
    font-weight: bold;
    height: 30px;
    width: 70px;
    border: none;
    background-color: blanchedalmond;
    border-radius: 5px;
}
#butEncry:hover
{
    background-color: rgb(231, 193, 143);
}
#miniTitle
{
    font-weight: bold;
}